#container1{
    display: flex;
    padding: 40px;
    background-color: blue;
}
#container1 div{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
    font-size: 36px;
}

#photo{
    height:200px;
    width:200px;
}

#foodmenu{
    /* bg-white shadow-md rounded-lg p-6 text-center flex flex-col justify-center items-center */
    background-color: white;
    border-radius: 5%;
    padding:15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:600px){
    #container1{
            display: flex
;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    #container1 div img{
        width: 300px;
    }
    #container1 div{
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    color:white;
    font-size: 24px;
}
}